* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

/* ---------- navbar ---------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0 0 5px black;
    transition: 0.3s;
    z-index: 100;
}

.menu-nav {
    text-decoration: none;
    color: white;
    background-color: c;
    padding: 15px 23px;
    transition: 0.1s;
    border: none;
    background-color: transparent;
    & i {
        text-shadow: 0 0 5px black;
    }
}

.menu-nav:hover {
    background-color: rgb(155, 241, 126);
    color: black;
    text-shadow: none;
}

#navMenu {
    display: flex;
    gap: 0;
}

#threelineIcon:hover {
    text-shadow: none;
}

/* ---------- index Banner ---------- */

.indexBanner {
    background: url("../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    object-fit: cover;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 8px black;
}

.indexBannerbtn {
    border: none;
    outline: none;
    padding: 8px 23px;
    background-color: rgb(155, 241, 126);
    box-shadow: 0 0 8px black;
    font-weight: 500;
    transition: 0.1s;
}

.indexBannerbtn:hover {
    box-shadow: 0 0 8px lightgray;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
}

.indexAbout {
    font-size: 20px;
    text-align: justify;
}
@media screen and (max-width: 767px) {
    .aboutContainer {
        flex-direction: column;
    }
}

/* ---------- home page ---------- */

.homeBg {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainMenu {
    margin: 200px auto;
    /* max-width: 60%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.menu {
    box-shadow: 0 0 13px black;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    padding: 13px;
    cursor: pointer;
    background-color: white;
    transition: 0.1s;
    /* border: 5px solid gray; */
    & img {
        width: 100px;
    }
}

.menu:hover {
    background-color: rgb(199, 198, 198);
}

/* ---------- Contact page ---------- */

.containerContact {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 23px;
}

.contactHead {
    margin: 80px auto;
    text-align: center;
    font-size: 60px;
}

.contactImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.mainContact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
}

.contactDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.contactDetail:hover {
    translate: 0 -30px;
}

.iconImg {
    max-width: 40px;
    width: 100%;
    height: 40px;
}

.linkContact {
    text-decoration: none;
    color: #212529;
    transition: 0.3s;
}

.linkContact:hover {
    background-color: lightgray;
    border-radius: 25px;
    padding: 0 8px;
}

@media screen and (max-width: 1350px) {
    .mainContact {
        gap: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .mainContact {
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
    }
}
@media screen and (max-width: 664px) {
    .mainContact {
        grid-template-columns: 1fr;
    }
    .containerContact {
        padding: 0 150px;
    }
}
@media screen and (max-width: 600px) {
    .containerContact {
        padding: 0 80px;
    }
    .contactHead {
        font-size: 45px;
    }
}
@media screen and (max-width: 457px) {
    .containerContact {
        padding: 0 40px;
    }
}