* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

.text-jtf {
    text-align: justify;
}

/* ---------- navbar ---------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0 0 5px black;
    transition: 0.3s;
    z-index: 100;
}

.menu-nav {
    text-decoration: none;
    color: white;
    background-color: c;
    padding: 15px 23px;
    transition: 0.1s;
    border: none;
    background-color: transparent;
    & i {
        text-shadow: 0 0 5px black;
    }
}

.menu-nav:hover {
    background-color: rgb(155, 241, 126);
    color: black;
    text-shadow: none;
}

#navMenu {
    display: flex;
    gap: 0;
}

#threelineIcon:hover {
    text-shadow: none;
}

/* ---------- Footer ---------- */

.footerIconwrapper {
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    & img {
        width: 100%;
    }
}

.footerCC {
    background-color: #111111;
    color:#c4c4c4;
}

/* ---------- index Banner ---------- */

.indexBanner {
    background: url("../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    object-fit: cover;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 8px black;
}

.indexBannerbtn {
    border: none;
    outline: none;
    padding: 8px 23px;
    background-color: rgb(155, 241, 126);
    box-shadow: 0 0 8px black;
    font-weight: 500;
    transition: 0.1s;
}

.indexBannerbtn:hover {
    box-shadow: 0 0 8px lightgray;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
}

.indexAbout {
    font-size: 20px;
    text-align: justify;
    text-indent: 3rem;
}
@media screen and (max-width: 767px) {
    .aboutContainer {
        flex-direction: column;
    }
}

/* ---------- home page ---------- */

.homeBg {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainMenu {
    margin: 200px auto;
    /* max-width: 60%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.menu {
    box-shadow: 0 0 13px black;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    padding: 13px;
    cursor: pointer;
    background-color: white;
    transition: 0.1s;
    /* border: 5px solid gray; */
    & img {
        width: 100px;
    }
}

.menu:hover {
    background-color: rgb(199, 198, 198);
}

/* ---------- Contact page ---------- */

.containerContact {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 23px;
}

.contactHead {
    margin: 80px auto;
    text-align: center;
    font-size: 60px;
}

.contactImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.mainContact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
}

.contactDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.contactDetail:hover {
    translate: 0 -30px;
}

.iconImg {
    max-width: 40px;
    width: 100%;
    height: 40px;
}

.linkContact {
    text-decoration: none;
    color: #212529;
    transition: 0.3s;
}

.linkContact:hover {
    background-color: lightgray;
    border-radius: 25px;
    padding: 0 8px;
}

@media screen and (max-width: 1350px) {
    .mainContact {
        gap: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .mainContact {
        grid-template-columns: 1fr 1fr;
        row-gap: 80px;
    }
}
@media screen and (max-width: 664px) {
    .mainContact {
        grid-template-columns: 1fr;
    }
    .containerContact {
        padding: 0 150px;
    }
}
@media screen and (max-width: 600px) {
    .containerContact {
        padding: 0 80px;
    }
    .contactHead {
        font-size: 45px;
    }
}
@media screen and (max-width: 457px) {
    .containerContact {
        padding: 0 40px;
    }
}

/* ************** general page *************** */

.generalBanner {
    width: 100%;
    height: 400px;
    background-image: url('../img/cnc-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textBannergeneral {
    transition: 0.3s;
    cursor: default;
}

.textBannergeneral:hover {
    translate: 0 -23px;
}

.genContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

/* ****************** security page ******************* */

.securityBanner {
    background-image: url('../img/securityBanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        font-size: 55px;
        color: white; text-shadow: 0 0 5px black;
        cursor: default;
        text-align: center;
    }
}

.securText {
    text-indent: 3rem;
    text-align: justify;
    transition: 0.2s;
    cursor: default;
    padding: 13px;
    border: rgb(217, 255, 48);
}

.securText:hover {
    translate: 0 -8px;
    border-bottom: 8px solid rgb(246, 157, 56);
}

/* ***************** cncComponent page ************* */

#leftMenu {
    position: fixed;
    top: 28px;
    left: 0;
    width: 330px;
    max-height: 650px;
    height: 330px;
    margin-top: 5rem;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 13px rgb(53, 53, 53);
    overflow: hidden;
    transition: 0.2s;
}

#leftMenubtn {
    background-color: #212529;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

#leftMenubtn:hover {
    background-color: rgb(29, 28, 28);
}

#closeMenu {
    background-color: #212529;
    color: white;
    width: 63px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

#closeMenu:hover {
    background-color: #35383a;
}

.leftMenulist {
    padding: 8px;
    background-color: #47494b;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.leftMenulist:hover {
    background-color: rgb(155, 241, 126);
    color:#212529
}

.listDarker {
    background-color: #2a2b2c;
}

.listDarker:hover {
    background-color: #f5f5f5;
    color: #212529;
}

.componentWrapper {
    background-color: white;
    padding: 23px;
    border-radius: 18px;
    box-shadow: 0 5px 8px rgb(53, 53, 53);
}

.compBg {
    background-image: url("../img/componentBg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsiveBox {
    max-width: 1100px;
    width: 100%;
    margin-left: 360px;
    margin-top: 10%;
}

@media screen and (max-width: 1480px) {
    .responsiveBox {
        max-width: 850px;
    }
}
@media screen and (max-width: 1227px) {
    .responsiveBox {
        max-width: 650px;
    }
}
@media screen and (max-width: 1035px) {
    .responsiveBox {
        max-width: 500px;
    }
}
@media screen and (max-width: 890px) {
    .responsiveBox {
        max-width: 350px;
    }
}
@media screen and (max-width: 730px) {
    .responsiveBox {
        max-width: 500px;
        margin: 68% auto;
    }
}
@media screen and (max-width: 657px) {
    .responsiveBox {
        max-width: 500px;
        margin: 75% auto;
    }
}
@media screen and (max-width: 598px) {
    .responsiveBox {
        max-width: 500px;
        margin: 85% auto;
    }
}
@media screen and (max-width: 525px) {
    .responsiveBox {
        max-width: 500px;
        margin: 98% auto;
    }
}